body{
    margin:0;
    background-color: sienna;
}

header{
    font-size: 4rem;
    color:ghostwhite;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5vw;
    width: fit-content;   
}

#GameInfoSect{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#GameInfo{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    background-color: ghostwhite;
    border: 3px solid black;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    padding:50px;
    align-content: center;
}

#gameBoardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, .5);
    padding: 25px;
    border: 5px solid black;
    border-radius: 25px;
    max-width: 1000px;
    margin: 0px 5vw;
}
#ScoreContainer{
    display: flex;
    flex-direction: row;
}


#EventTestSec
{
    min-height:400px;
    min-width: 400px;
    background-color: beige;
}
/*HOLE STYLES*/
.hole{
    width: 100px;
    height: 100px;
    background-color: brown;
    border-radius: 50%; /*Make into circle*/
    margin:10px;
    cursor: pointer;
}
.hole:hover{
    box-shadow: inset 1em 2px 1em rgba(0, 0, 0, 0.3);

}
.poppedUp{
    background-color: green;
    box-shadow: outset 0 4px 4px rgba(68, 255, 108, .6);
}

/*General Class Attributes*/
.center{
    margin:0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/*---BUTTONS*/
/*------Primary*/
.btn_primary{
    background-color: cornflowerblue;
    color: ghostwhite;
    border-radius: 8px;
    padding:15px 30px;
    width: fit-content;
}