body{
    margin:0;
    background-color: ghostwhite;
}
section{
    margin-bottom: 28px; /*Make a margin the the bottom of new sections*/
}
footer{
    background-color: slategrey;
    text-align: center;
    align-content: center;
    color:ghostwhite;
    height: 20vh;
}


#HeroSect{
    text-align: center;
    align-content: center;
    background-color: slategrey;
    color: ghostwhite;
    padding:50px;
}

#MovieSubmitContainer{
    text-align-last: right; 
    width:fit-content; 
    padding: 15px; 
    margin:0 auto; 
    border: 3px black solid;
    border-radius: 15px;

}

#MovieSubmitContainer button{
    margin-top: 15px;
    background-color: teal;
    padding: 8px;
    color:ghostwhite;
    border-color: grey;
    border-radius: 20px;
}