body{
    margin:0;
    background-color: ghostwhite;
}
section{
    margin-bottom: 28px; /*Make a margin the the bottom of new sections*/
}
footer{
    background-color: slategrey;
    text-align: center;
    align-content: center;
    color:ghostwhite;
    height: 20vh;
}


#HeroSect{
    text-align: center;
    align-content: center;
    background-color: slategrey;
    color: ghostwhite;
    padding:50px;
}

#MovieSect{
    display: flex;
    column-gap: 28px;
    text-align: center;
    align-content: center;
    margin:28px;
    margin-left: 20vw;
    flex-wrap: wrap;
}

#MovieSubmitContainer{
    text-align-last: right; 
    max-width:fit-content; 
    height: 150px;
    padding: 15px; 
    margin:0 auto; 
    border: 3px black solid;
    border-radius: 15px;
    flex: 1;
}

#MovieSubmit{
    margin-top: 15px;
    background-color: teal;
    padding: 8px;
    color:ghostwhite;
    border-color: grey;
    border-radius: 20px;
}

#MovieClear{
    background-color: ghostwhite;
    border-style: none;
    color: darkred;
}
#MovieClear:hover{
    color: red;
}
#MovieClear:active{
    color: brown;
}