/*=====| ROUND |=====*/
#RoundDisplay{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;  
    height: fit-content;
    max-height: 3rem;
    width: fit-content;
    background-color: var(--Light_Shade);
    color: var(--Dark_Shade);
    border-radius: 10px;
    padding: 2rem;
    align-self: center;
    align-items: center;
}

/*=====| QUESTION |=====*/
#QuestionContent{
    color: var(--Dark_Shade);
}

/*=====| ANSWERS |=====*/
#AnswerContent{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
#AnswerBox{
    border: 3px, solid, var(--Main_Color);
    width: 300px;
    height: 50px;
}
#AnswerBtnsContainer{
    display: flex; 
    flex-direction: row;
    gap: 1rem;
}
/*---|Answer Options|---*/
.a_option{
    flex: 1;
    background-color: var(--Light_Accent);
    color: var(--Light_Shade);
    font-weight: bolder;
    border:0px solid var(--Dark_Shade);
    border-radius: 10px;

}
.a_option :hover{
    color: #e2e2e2;
}

/*---|Correct Answer|---*/
.a_correct{
    background-color: green;
}