
body{
    margin:0;
}

header{
    background-color: lightgrey;
}
/*====| HERO |====*/
header > #Content > h1{
    font-size: 7rem;
    letter-spacing: -3px;
}
header > #Content > h2{
    font-size: 3rem;
    letter-spacing: -1px;
}
/*====| NAVIGATION BAR |====*/
nav {
    background-color: grey;
    color: ghostwhite;
    padding: .5rem 30%;
    position: sticky;
}
nav > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

nav > ul > a {
    text-decoration: none;
    color: inherit;   
}

nav > ul > a > li{
    width: 133px;
}
nav > ul > a > li :hover{
    color: darkgrey;
}


#Content{
    padding: 4rem 10%;
}


/*====| MACRO TRAITS |====*/
.center{
    justify-content: center;
    text-align: center;
    margin: auto 0;
}

footer{
    background-color: grey;
    color: ghostwhite;
    text-align: center;
}

footer > #Content {
    padding: 4rem 30%;
}