
/*
 Color Pallete:

    F8F6F9 - Whisper        [Light Shades]
    E1B37A - Harvest Gold   [light accent]
    9B4B3F - Sepia Skin     [Dark Shade]
    DCAF99 - Cameo          [Dark Accent]
    D09FAF - Careys Pink    [Main Brand]
    
*/

body{
    margin:0;
    background-color: var(--Light_Shade);
    /*Color Variables*/
    --Light_Shade:#F8F6F9 ;
    --Light_Accent: #E1B37A;
    --Dark_Shade: #9B4B3F;
    --Dark_Accent:#DCAF99 ;
    --Main_Color: #D09FAF;
}

header{
    background-color: var(--Dark_Shade);
    color: var(--Light_Shade)
}
/*====| HERO |====*/
header > #Content > h1{
    font-size: 7rem;
    letter-spacing: -3px;
}
header > #Content > h2{
    font-size: 3rem;
    letter-spacing: -1px;
}
/*====| NAVIGATION BAR |====*/
nav {
    background-color: var(--Dark_Accent);
    color: var(--Light_Shade);
    padding: .5rem 30%;
    position: sticky;
}
nav > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

nav > ul > a {
    text-decoration: none;
    color: inherit;   
}

nav > ul > a > li{
    width: 133px;
}
nav > ul > a > li :hover{
    color: #b18e7c;
}


#Content{
    padding: 4rem 10%;
}


/*====| MACRO TRAITS |====*/
.center{
    justify-content: center;
    text-align: center;
    margin: auto 0;
}

footer{
    background-color: var(--Dark_Shade);
    color: var(--Light_Shade);
    text-align: center;
}

footer > #Content {
    padding: 4rem 30%;
}