
/*
 Color Pallete:

    F8F6F9 - Whisper        [Light Shades]
    E1B37A - Harvest Gold   [light accent]
    9B4B3F - Sepia Skin     [Dark Shade]
    DCAF99 - Cameo          [Dark Accent]
    D09FAF - Careys Pink    [Main Brand]
    
*/

/*Setting Style for the website's body section*/
body{
    margin:0;
    background-color: var(--Light_Shade);
    /*Color Variables*/
    --Light_Shade:#F8F6F9 ;
    --Light_Accent: #E1B37A;
    --Dark_Shade: #9B4B3F;
    --Dark_Accent:#DCAF99 ;
    --Main_Color: #D09FAF;
}

header{
    background-color: var(--Dark_Shade);
    color: var(--Light_Shade)
}
/*====| HERO |====*/
header > #Content > h1{
    color: var(--Light_Shade);
    font-size: 7rem;
    letter-spacing: -3px;
}
header > #Content > h2{
    font-size: 3rem;
    letter-spacing: -1px;
}
/*====| NAVIGATION BAR |====*/
nav {
    background-color: var(--Dark_Accent);
    color: var(--Light_Shade);
    width: 100%;
    padding: .5rem 30%;
    position:fixed;
}
nav > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

nav > ul > a {
    text-decoration: none;
    color: inherit;   
}

/*List items inside of the Navigation menu*/
nav > ul > a > li{
    width: 133px;
}
/*Hovered List items inside of the Navigation menu*/
nav > ul > a > li :hover{
    color: #b18e7c;
}

/*What to do with general content sections*/
#Content{
    padding: 4rem 10%;
}

/*For Primary Buttons like call to actions*/
.primary_btn{
    background-color: var(--Light_Accent);
    color: var(--Light_Shade);
    font-weight: bolder;
    border-radius: 8px;
    padding: 1rem;
    border: 0px;
}

/*====| MACRO TRAITS |====*/
.center{
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

footer{
    background-color: var(--Dark_Shade);
    color: var(--Light_Shade);
    text-align: center;
}

footer > #Content {
    padding: 4rem 30%;
}