body{
    margin: 0;
}

img{
    max-width: 100%;
}


#SlidesBox{
    max-width: 800px;
    height: 450px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 auto; /*Center the Images*/
    justify-content: center;
}
#ImageFlexBox{    
    max-width: 800px;
    height: 450px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 auto; /*Center the Images*/
    justify-content: center;
}

.Panel img{
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
}

.Panel{
    flex: 1 1 0%;
    overflow: hidden;
    border-radius: 25px;
    transition: 0.5s ease-in-out;
}

.Panel:hover{
    flex: 2.5 10%;
    transition: 0.3s ease-in-out;
}